{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="ProArt Logo" class="img-fluid me-2" style="height: 40px;">
          <span>ProArt</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-box"></i> Productos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                      <li><a class="dropdown-item" href="{% url 'product_list' %}">
                          <i class="fas fa-list"></i> Listado Productos</a>
                      </li>
                      <li><a class="dropdown-item" href="{% url 'product_add' %}">
                          <i class="fas fa-plus"></i> Crear Producto</a>
                      </li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_list' %}">
                      <i class="fas fa-shopping-cart"></i> Pedidos
                  </a>
              </li>
              <li class="nav-item">
                <div class="d-flex">
                    <div class="d-flex align-items-center me-3">
                        {% if user.is_authenticated %}
                        <a href={% url 'users:profile' %}>
                            <img src={{ user.profile_pic.url }} class="rounded-circle" height="30" width='30' alt="" loading="lazy" /> 
                        </a>
                        {% else %}
                      
                            <a class="nav-link" data-mdb-toggle='modal' data-mdb-target='#loginModal' href="#">
                                <i class="fas fa-users"></i> Iniciar Sesión
                            </a>
                        
                         
                        {% endif %}
            
                    </div>         
              </li>
              <li class="nav-item">
                  <button class="btn text-white"><i class="fas fa-search"></i></button>
              </li>
              <li class="nav-item">
                  <button class="btn text-white"><i class="fas fa-shopping-bag"></i></button>
              </li>
          </ul>
      </div>
  </div>
</nav>