<div class="col-md-6 col-lg-4">
  <div class="card product-card h-100">
      <div class="position-relative">
          <img src="https://images.unsplash.com/photo-1578749556568-bc2c40e68b61?ixlib=rb-4.0.3" 
               class="card-img-top" 
               alt="Handcrafted Ceramic Vase">
          <button class="btn btn-light rounded-circle favorite-btn">
              <i class="fas fa-heart"></i>
          </button>
      </div>
      <div class="card-body">
          <span class="badge bg-secondary mb-2">{{ product.categories }}</span>
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="card-text text-muted">{{ product.price_product }} </p>
          <i class="fas fa-shopping-cart"></i>
              </button>
          </div>
          <!-- <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-artisan-sage btn-sm">Ver detalles</a> -->
      </div>
  </div>
</div>