{% extends 'detail.html' %}

{% block messages %}
  {% if messages %}
    <h1 class="alert alert-secondary" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </h1>
  {% endif %}
{% endblock %}

{% block columns %}
  <tr>
    <th>Imagen</th>
    <th scope="col">Creado</th>
    <th scope="col">Producto</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precio</th>
    <th scope="col">Total</th>
    <th></th>
    <th></th>
  </tr>
{% endblock %}

{% block rows %}
  {% for od in object.order_details.all %}
    <tr>
      <td>
        {% if od.product.images.first %}
            <img src="{{ od.product.images.first.image.url }}" class="card-img-top" alt="{{ od.product.name }}" style="width:50px">
        {% else %}
            <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="width:50px">
                <i class="fas fa-image fa-3x text-muted"></i>
            </div>
        {% endif %}
      </td>
      <td>{{od.created_at|date:"Y-m-d"}}</td>
      <td>{{od.product.name}}</td>
      <td>{{od.quantity}}</td>
      <td>{{od.product.price_product}}</td>
      <td>{{od.total}}</td>
      <td>
        {% if order.status == 'PENDING' %}
          <form method="post" action="{% url 'order_detail_update' pk=od.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="quantity" value='{{od.quantity|add:"-1"}}'>
            <button type="submit" class="btn btn-xs btn-flat">
              <i class="fas fa-minus"></i>
            </button>
          </form>
          <form method="post" action="{% url 'order_detail_update' pk=od.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="{{od.quantity|add:1}}">
            <button type="submit" class="btn btn-xs btn-flat">
              <i class="fas fa-plus"></i>
            </button>
          </form>
        {% endif %}
      </td>
      <td>
        {% if order.status == 'PENDING' %}
          <form method="post" action="{% url 'order_detail_delete' pk=od.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs btn-flat btn-danger">
              <i class="fas fa-trash"></i>
            </button> 
          </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}


{% block more_button %}

{% if object.payment  %}
  <div class="alert alert-success" role="alert">
    Pagado con fecha: {{ object.payment.created_at|date:"Y-m-d"}}
  </div>
{% elif order.status == 'CANCELED' %}
  <div class="alert alert-warning" role="alert">
    Cancelado con fecha: {{ object.updated_at|date:"Y-m-d" }}
  </div>
{% else %}
  <div class="alert alert-info" role="alert">
    Total a pagar: {{ total }}
    <a href="{% url 'order_payment' order_pk=object.pk %}" class="btn btn-primary btn-flat" >
      Pagar
    </a>
  </div>
{% endif %}

<a href="{% url 'home' %}" class="btn btn-primary btn-flat" >Seguir comprando</a>
{% endblock %}
   
  
{% block button_add %}
  <a href="{% url 'order_list' %}" class="btn btn-primary btn-flat" >
    Volver al listado de pedidos
  </a>
{% endblock %}