<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
<h4>Order Detail</h4>

<h1> {{customer.user_proart.user.email}}</h1>


<form method="post" enctype="multipart/form-data">
    <h1> {{customer.user_proart.user.name}}</h1>
    <table class="table" border="1">
      <thead class="thead-light">
        <tr>
          <th scope="col">Número pedido</th>
          <th scope="col">Fecha del pedido</th>
          <th scope="col">status</th>
          <th scope="col">importe</th>
          <th scope="col">pagado</th>
          <th scope="col">entregado</th>
        </tr>
      </thead>
   
{% for i in object_list %}
<tr>
    <td>{{i.id}}</td>
    <td>{{i.created_at}}</td>
    <td> {{i.status}}  </td>
    
</tr>

{% endfor %}
</table>
</form>


</body>
</html>