{% extends 'list.html' %}

{% block messages %}
  {% if messages %}
    <h1 class="alert alert-secondary" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </h1>
  {% endif %}
{% endblock %}

{% block columns %}
<tr>
  <th scope="col">Order Number</th>
  <th scope="col">Created at</th>
  <th scope="col">Status</th>
  <th scope="col"></th>
</tr>
{% endblock %}
   
{% block rows %}
  {% for o in object_list %}
  <tr>
      <td>{{o.id}}</td>
      <td>{{o.created_at|date:"Y-m-d"}}</td>
      <td> {{o.status}}  </td>
      <td>
        {% if o.payment %}
          Pagado con fecha: {{ o.payment.created_at|date:"Y-m-d"}}
        {% elif o.status == 'CANCELED' %}
          Cancelado con fecha: {{ o.updated_at|date:"Y-m-d"}}
        {% else %}
          Pendiente de pago
        {% endif %}
      </td>
      <td>
        <a href="{% url 'order_detail' pk=o.id %}" type="button"  class="btn btn-warning btn-xs btn-flat">
          <i class="fas fa-edit"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
{% endblock %}
 
{% block button_add %}{% endblock %}
