{% extends 'detail.html' %}


{% block subcontent %}
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <td>Total a pagar</td>
          <td> $ {{ order.total|floatformat:2 }}</td>
          <td>
            {% if not order.payment %}
              <button type="submit" class="btn btn-primary btn-flat btntest">
                Confirmar pago
              </button>  
            {% endif %}
          </td> 
        </tr>
      </thead>
    </table>
    {% for field in form %}
      {{ field.as_hidden }}
    {% endfor %}
      
</form>
{% endblock %}

{% block more_button %}
  <a href="{% url 'order_detail' pk=order.pk %}" type="submit" class="btn btn-primary btn-flat" >
    Volver al pedido
  </a>
{% endblock %}

{% block button_add %}
  <a href="{% url 'order_list' %}" type="submit"  class="btn btn-primary btn-flat">
    Volver al listado de pedidos
  </a>
{% endblock %}