<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>

  <h4>Payments</h4>
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table" border="1">
      <thead class="thead-light">
      
      <tr>
        <td>Total a pagar</td>
        <td>{{ order.total }}</td>
        <td> <button type="submit"> Confirm pay</button>  </td> 
    </tr>
    
    </table>{% for field in form %}

        {{ field.as_hidden }}

{% endfor %}
</form>

<br>
<a href="{% url 'order_detail' pk=order.pk %}" type="submit" >Return to Order</a>
<br>
<a href="{% url 'order_list' %}" type="submit" >Return to Order List</a>


</body>
</html>