{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProArt Marketplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    {% include 'components/navbar.html' %}
    {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
    {{ message }}
  </div>
  {% endfor %}


    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function scrollToFeatured() {
          const target = document.getElementById('featured');
          const targetPosition = target.getBoundingClientRect().top + window.pageYOffset;
          const startPosition = window.pageYOffset;
          const duration = 2000;
          let startTime = null;

          function animateScroll(currentTime) {
              if (startTime === null) startTime = currentTime;
              const timeElapsed = currentTime - startTime;
              const run = ease(timeElapsed, startPosition, targetPosition - startPosition, duration);
              window.scrollTo(0, run);
              if (timeElapsed < duration) requestAnimationFrame(animateScroll);
          }

          function ease(t, b, c, d) {
              t /= d / 2;
              if (t < 1) return (c / 2) * t * t + b;
              t--;
              return (-c / 2) * (t * (t - 2) - 1) + b;
          }

          requestAnimationFrame(animateScroll);
      }
    </script>
</body>
</html>
