{% extends 'detail.html' %}


{% block  invoicecolumns %}
<table>
  <tr>
    <td>Fecha Factura:</td>
    <td>30/01/2014</td>
  </tr>
  <tr>
    <td>Número de Factura:</td>
    <td>14</td>
  </tr>
</table>


{% endblock %}

{% block  invoicerows %}
<table>
  <tr>
    <td>Proveedor:</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>14</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Dirección:</td>
    <td>14</td>
    <td>10</td>
  </tr>

</table>

{% endblock %}


{% block  invoicecolumnscustomer %}
<table>
  <tr>
    <td>Cliente:</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>14</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Dirección:</td>
    <td>14</td>
    <td>10</td>
  </tr>

</table>


{% endblock %}

{% block columns %}
  <tr>
    <th scope="col">Producto</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precio</th>
    <th scope="col">Total</th>
    <th scope="col">Pagado</th>
    <th></th>
  </tr>
{% endblock %}

{% block rows %}
  {% for od in object.order_details.all %}
    <tr>
      <td>{{od.product.name}}</td>
      <td>{{od.quantity}}</td>
      <td>{{od.product.price_product|floatformat:2}}</td>
      <td>{{od.total|floatformat:2}}</td>
      <td> {{ object.payment.created_at|date:"Y-m-d"}} </td>
    </tr>
  {% endfor %}
{% endblock %}


   
{% block button_add %}
  <a href="{% url 'order_list' %}" class="btn btn-primary btn-flat" >
    Volver al listado de pedidos
  </a>
{% endblock %}