{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm rounded-4">
                    <div class="card-header bg-white py-4 border-0">
                        <h1 class="display-6 mb-0">{{ title }}</h1>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-4">
                                {% for field in form.visible_fields %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        {% if field.name == "categories" %}
                                            {{ field|add_class:"form-checkbox"|attr:"autocomplete:off" }}
                                        {% else %}
                                            {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
                                        {% endif %}
                                        {% comment %} {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %} {% endcomment %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary btn-lg d-flex align-items-center">
                                    Crear Producto <i class="fas fa-save ms-2"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
