{% extends 'list.html' %}


{% block columns %}
  <tr>
    <th>#</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Avatar</th>
    <th>Acción</th>
  </tr>
{% endblock %}

{% block rows %}
  {% for u in object_list %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.surname }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.phone_number }}</td>
      <td>{{ u.avatar }}</td>
    <td>
      <button type="button" class="btn btn-warning btn-xs btn-flat">
          <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-danger btn-xs btn-flat">
          <i class="fa fa-power-off" aria-hidden="true"></i>
      </button>
    </td>
  {% endfor%}
{% endblock %}

